<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
   
</head>  
<body>  
<form method="POST" class="post-form" action="update/{{Survey.barcode}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Survey Id:</label>  
    <div class="col-sm-4">  
        <input type="text" name="item" id="item" required maxlength="20" value="{{ Survey.item }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Survey Name:</label>  
    <div class="col-sm-4">  
        <input type="text" name="item_name" id="item_name" required maxlength="100" value="{{ Survey.item_name }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Survey item_class:</label>  
    <div class="col-sm-4">  
        <input type="text" name="item_class" id="item_class" required maxlength="254" value="{{ Survey.item_class }}" />  
    </div>  
  </div>  

    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  