<!DOCTYPE html>  
<html lang="en">  
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
<head>  
    <meta charset="UTF-8">  
    <title>Items</title>   
</head>  

<body> <h2>Items Table</h2>
    <table style="width:100%">
    <tr>  
        <th>item Items</th>  
        <th>item ItemName</th>  
        <th>item ItemClass</th>    
    </tr>  
    </thead>  
    <tbody>  
    {% for item1 in items %}
    <tr>
    <td>{{ item1.items }}</td>  
    <td>{{ item1.itemname }}</td>  
    <td>{{ item1.itemclass }}</td>    
    </tr>
    {% endfor %}  
    </tbody>  
</table>
