<!DOCTYPE html>  
<html lang="en">  
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
<head>  
    <meta charset="UTF-8">  
    <title>Main Items</title>   
</head>  

<body> <h2>Main Items Table</h2>
    <table style="width:100%">
    <tr>  
        <th>mainitem MainItemCode</th>  
        <th>mainitem MainItemName</th>    
    </tr>  
    </thead>  
    <tbody>  
    {% for mainitem in mainitems %}
    <tr>
    <td>{{ mainitem.MainItemCode }}</td>  
    <td>{{ mainitem.MainItemName }}</td>    
    </tr>
    {% endfor %}  
    </tbody>  
</table>  