<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>mainitems</title>  
    
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>mainitem MainItemCode</th>  
        <th>mainitem MainItemName</th>    
    </tr>  
    </thead>  
    <tbody>  
    {% for mainitem in mainitems %}
    <tr>
    <td>{{ mainitem.MainItemCode }}</td>  
    <td>{{ mainitem.MainItemName }}</td>    
    </tr>
    {% endfor %}  
    </tbody>  
</table>  