<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Zohar_App</title>
    <link rel="StyleSheet" href="./css/style.css" type="text/css">
    <script src="js/script.js"></script>
</head>

<body>
    <div
    style="float:right;width:100%;margin: -7px;background-color: cadetblue;height:30px;padding:10px; font-size:20px;font-family:'Californian FB'">
    <div style="float: right;margin-right:88px">  </div>
        <div style="float: left; margin-right: 88px;">  
    </a>
    <div>
    <a href="show">
        <div style="float: left; margin-right: 88px">Survey        <!-- Done -->
    </a></div>

    <a href="show_items">
        <div style="float: left; margin-right: 88px">Items         <!-- Done -->
    </a></div>

    <a href="show_mainitems">
        <div style="float: left; margin-right: 88px">MainItems       <!-- Done -->
    </a></div>

    <a href="show_mainsites">
        <div style="float: left; margin-right: 88px">MainSites       <!-- Done -->
    </a></div>
   
    <a href="show1"> 
        <div style="float: left; margin-right: 88px">Models      <!-- Done -->
    </a></div>

    <a href="Show_Statuses">
        <div style="float: left; margin-right: 88px">Statuses         <!-- Done -->
    </a></div>

    <a href="show_manufacturers">
        <div style="float: left; margin-right: 88px">Manufacturers    <!-- Done -->
    </a></div>
    </div>
    <div
        style="float: right; width: 100%; margin-top: 14px; color: white; text-align: left; padding: 8px;font-size:18px; font-family: 'Californian FB'">
        <div
            style="float: right; width: 100%; color: rgb(17, 135, 186); margin-top: 14px; font-size: 40px; margin-bottom: 16px; font-family: 'Californian FB'">
            Welcome to ZoharAPP</div>
        <hr style="width: 41%;
        float: left;" />









</body>

</html>