<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>mainsites</title>  
    
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>mainsite SiteCode</th>  
        <th>mainsite SiteName</th>  
        <th>mainsite SubSiteName</th>  
    </tr>  
    </thead>  
    <tbody>  
    {% for mainsite in mainsites %}
    <tr>
    <td>{{ mainsite.SiteCode }}</td>  
    <td>{{ mainsite.SiteName }}</td>   
    <td>{{ mainsite.SubSiteName }}</td>  
    </tr>
    {% endfor %}  
    </tbody>  
</table>  