<!DOCTYPE html>  
<html lang="en">  
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
<head>  
    <meta charset="UTF-8">  
    <title>manfacturers</title>   
</head>  

<body> <h2>manfacturers Table</h2>
    <table style="width:100%">
    <tr>  
        <th>manfacturer manufacturerCode</th>  
        <th>manfacturer manufacturerName</th>  
        <th>manfacturer MModelCode</th>  
    </tr>  
    </thead>  
    <tbody>  
    {% for manfacturer in manfacturers %}
    <tr>
    <td>{{ manfacturer.manufacturerCode }}</td>  
    <td>{{ manfacturer.manufacturerName }}</td>  
    <td>{{ manfacturer.MModelCode }}</td>
    </tr>
    {% endfor %}  
    </tbody>  
</table>  