<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>manfacturers</title>  
    
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>manfacturer manufacturerCode</th>  
        <th>manfacturer manufacturerName</th>  
        <th>manfacturer MModelCode</th>  
    </tr>  
    </thead>  
    <tbody>  
    {% for manfacturer in manfacturers %}
    <tr>
    <td>{{ manfacturer.manufacturerCode }}</td>  
    <td>{{ manfacturer.manufacturerName }}</td>  
    <td>{{ manfacturer.MModelCode }}</td>
    </tr>
    {% endfor %}  
    </tbody>  
</table>  