<!DOCTYPE html>  
<html lang="en">  
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
<head>  
    <meta charset="UTF-8">  
    <title>Models</title>   
</head>  

<body> <h2>Models Table</h2>
    <table style="width:100%">
    <tr>  
        <th>modell MModelsCode</th>  
        <th>modell Mmodelsname</th>    
    </tr>  
    </thead>  
    <tbody>  
    {% for modell in modells %}
    <tr>
    <td>{{ modell.MModelsCode }}</td>  
    <td>{{ modell.Mmodelsname }}</td>    
    </tr>
    {% endfor %}  
    </tbody>  
</table>  