<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>models</title>  
    
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>model MModelsCode</th>  
        <th>model Mmodelsname</th>    
    </tr>  
    </thead>  
    <tbody>  
    {% for model in models %}
    <tr>
    <td>{{ model.MModelsCode }}</td>  
    <td>{{ model.Mmodelsname }}</td>    
    </tr>
    {% endfor %}  
    </tbody>  
</table>  