<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Zohar</title>
</head>
<body style="background-color: white ;direction:ltr ;font-size:large">
    <h1><b>"Zohar" system - a local application for listing inventory</b></h1>
    <hr>
    <div style="font-size: 20px; padding-top: 20px;">
        <a href=“#survery”>survery</a><br><br>
        <a href=“#survery1”>survery1</a><br><br>
        <a href=“#status”>status</a><br><br>
        <a href=“#Manu_factures”>Manu factures</a><br><br>
        <a href=“#Manu_Models”>Manu Models</a><br><br>
        <a href=“#Main-Items”>Main-Items</a><br><br>
        <a href=“#Main-Sites”>Main-Sites</a><br><br>
    </div>







</body>
</html>