<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.square {

    height: 300px;
    width: 300px;
    background-color: rgba(4, 108, 108, 0.952);
    float:left;
  
}
</style>
</head>
<body >

    <div style="margin:0px auto;width:750px;margin-top:100px">
        <div style="float:right;width:100%;height:100px; background-color: rgba(4, 108, 108, 0.952);margin-bottom:20px"></div>
        <div class="square" style="text-align:center;color:white;font-size:24px;box-sizing:border-box;padding-top:50px;margin-left:50px">
            <a href="Zohar3.html" style="font-size:350%; color:white">ניהול</a><br><br>
        </div>
        
    
        <div class="square" style="text-align:center;color:white;font-size:24px;box-sizing:border-box;padding-top:50px;margin-left:50px">
            <a href="" style="font-size:300%; color:white">טיפול בפרטים</a><br><br>
        </div>
    </div>  
      </body>
      </html>
