<!DOCTYPE html>  
<html lang="en">  
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
<head>  
    <meta charset="UTF-8">  
    <title>statuses</title>   
</head>  

<body> <h2>Statuses Table</h2>
    <table style="width:100%">
    <tr>  
        <th>status Item-Status-code</th>  
        <th>status Item-Status</th>  
    </tr>  
    </thead>  
    <tbody>  
    {% for status in statuses %}
    <tr>
    <td>{{ status.itemstatuscode }}</td>  
    <td>{{ status.itemstatus }}</td>   
    </tr>
    {% endfor %}  
    </tbody>  
</table>  