<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>statuses</title>  
    
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>statuses Item-Status-code</th>  
        <th>statuses Item-Status</th>  
    </tr>  
    </thead>  
    <tbody>  
    {% for status in statuses %}
    <tr>
    <td>{{ status.itemstatuscode }}</td>  
    <td>{{ status.itemstatus }}</td>   
    </tr>
    {% endfor %}  
    </tbody>  
</table>  